{"Node":["Martlock", "Bridgewatch", "FortSterling", "Lymhurst", "Thetford", "Caerleon"],"Tier":["T2", "T3", "T4", "T5", "T6", "T7", "T8"],
"Resource":["Cloth", "Fiber", "Hide", "Leather", "Metalbar", "Ore", "Planks", "Rock", "Stoneblock", "Wood", "FISH_FRESHWATER_ALL_COMMON", "FISH_SALTWATER_ALL_COMMON", "FISH_FRESHWATER_FOREST_RARE", "FISH_FRESHWATER_MOUNTAIN_RARE", "FISH_FRESHWATER_HIGHLANDS_RARE", "FISH_FRESHWATER_STEPPE_RARE", "FISH_FRESHWATER_SWAMP_RARE", "FISH_SALTWATER_ALL_RARE"], "min":"15"}